.footer {
  background-color: #1d1d1d;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.footer .social a {
  color: #fff;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.footer .links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.footer .links a {
  color: #fff;
  margin-right: 1.5rem;
}

.footer .links a:last-of-type {
  margin-right: 0;
}

.footer .links a:hover {
  text-decoration: underline;
}

.footer .copyrigth {
  text-align: center;
}

.footer .copyrigth a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.footer .copyrigth a:hover {
  text-decoration: underline;
}